config.stopBubbling=true
lombok.copyableAnnotations+=org.jspecify.annotations.Nullable
lombok.addGeneratedAnnotation=false
lombok.addLombokGeneratedAnnotation=false
lombok.builder.className=Builder
lombok.nonNull.exceptionType=IllegalArgumentException
lombok.addNullAnnotations=jspecify
lombok.fieldDefaults.defaultPrivate=true
lombok.fieldDefaults.defaultFinal=true
