name: Simple build and test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash

jobs:
  jvm-build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - 17
          - 21
          - 25
        module:
          - api
          - client
          - testing
          - testcontainers
    name: jvm-build-test-${{ matrix.module }}-java${{ matrix.java }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: gradle

      - name: build-test-${{ matrix.module }}-java${{ matrix.java }}
        run: |
          ./gradlew --no-daemon -Pjava.version=${{ matrix.java }} \
            :docling-${{ matrix.module }}:clean :docling-${{ matrix.module }}:build

  docs:
    runs-on: ubuntu-latest
    name: build-docs-pr
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Generate documentation
        run: ./gradlew --console=plain clean :docling-docs:mkdocsBuild
